<nb-card class="list-card" size="medium">
  <nb-card-header>Debugger</nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item *ngFor="let data of debugData; last as isLast">
        <div class="col">
          {{data.row}}
        </div>
        <div class="col">
          {{data.col}}
        </div>
        <div class="col">
          {{data.value}}
        </div>
        {{ isLast == true ? downScrollControl() : null }}
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>